.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

