header {
  background-color: #fb9400;
  box-sizing: border-box;
  max-height: 83px;
}

header main{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100vw;
}

header main a {
  align-self: center;
  display: flex;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

header main a img {
  display: none;
}

header main button {
  align-self: center;
  display: flex;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

header main button img {
  display: none;
}

header main img {
  height: 40px;
}

header main button {
  outline: none;
  border: none;
  background-color: transparent;
}

.page-title {
  align-self: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
  text-align: center;

}