.start {
  background: linear-gradient(45deg, white, #f7ecf7, #efe6ef, #e7dae7);
  border: none;
  border-radius: 25px;
  bottom: 0;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  color: #ff4763;
  left: 50%;
  margin-bottom: 5px;
  padding: 10px;
  position: fixed;
  transform: translateX(-50%);
}

.btn-finalizar {
  background: linear-gradient(45deg, white, #f7ecf7, #efe6ef, #e7dae7);
  border: none;
  border-radius: 25px;
  box-shadow: 0.5px 0.5px 2px 0.5px black;
  color: #ff4763;
  left: 50%;
  margin-bottom: 5px;
  padding: 10px;
  transform: translateX(-50%);
}
