.carousel {
  margin: auto;
  margin-bottom: 60px;
  width: 90%;
}

div .card {
  width: 100px;
}

.gallery {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.gallery .card {
  scroll-snap-align: center;
}
