.card-container {
  margin-bottom: 60px;
  width: 320px;
}

.recipe-card {
  align-items: center;
  background-color: #2a9d8f;
  border: 1px #2a9d8f solid;
  border-radius: 15px;
  box-shadow: 3px 3px 2px #264653;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: fit-content;
  margin: 1%;
  min-height: 210px;
  padding: 5px;
  width: 48%;
}

.recipe-card img {
  border: 2px solid #264653;
  border-radius: 15px;
}

.recipe-card span {
  margin-top: 10px;
}
