@media ( max-width : 360px ) {

  div .items-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .card-body {
    overflow: hidden;
  }
}

.card-details {
  height: 100%;
  margin-left: 35px;
  margin-right: 15px;
  margin-top: 15px;
  width: 100%;
}

.recipes-itens {
  display: flex;
  flex-wrap: wrap;
}
