.card {
  border-radius: 25px;
  box-shadow: 0 0.5px 2px 0.5px #ff5444;
  margin-top: 10px;
  overflow: hidden;
}

.card-body {
  border-radius: 25px solid #ff5444;
  margin: 0;
  padding: 0;
  width: 100%;
}

.card-body img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-subtitle {
  background-color: #ff5444;
  bottom: 0;
  color: #f7ecf7;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}

.card-subtitle:hover {
  opacity: 1;
}

.black {
  color: black;
  display: flex;
  flex-direction: column;
}
