.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 90%;
}

.recipe-container img {
  width: 9.5rem;
}

.recipe-card {
  border-radius: 6px;
  box-shadow: 1px 4px 4px rgba(8, 8, 8, 0.25);
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 0.3rem 0.3rem 1rem;
  overflow: hidden;
  text-align: center;
  width: 150px;
}

.recipe-name {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content: center;
  margin: 0.2rem auto -0.3rem;
  width: 8rem;
}
