.category-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

button {
  background: transparent;
  border: none;
}

.btn-category {
  margin-bottom: 3px;
  margin-right: 3px;
}

.cards-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  max-width: 100vh;
  min-height: 100vh;
}

.card-field {
  display: flex;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 160px;
}

.card-field img {
  width: 160px;
}

.main-page {
  background-color: #eea371;

}

.card-name {
  color: black;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap') ;
