.checked {
  text-decoration: line-through;
}

.recipe-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.alcolico {
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 0 10px;
}

.recipe-title {
  font-size: 30px;
  padding: 0 10px;
}

.recipe-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-right: 10px;
}

.buttons button {
  background: transparent;
  border: none;
}

.buttons button:nth-child( 1 ) {
  margin-right: 5px;
}

.recipe-category {
  color: rgb(152, 152, 152);
  margin-left: 10px;
  margin-top: -12px;
}

.ingredients {
  font-size: 26px;
  margin-left: 10px;
}

ul {
  background: rgb(206, 206, 206);
  border-radius: 4px;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.instructions {
  font-size: 26px;
  margin-left: 10px;
}

.instructions-details {
  background: rgb(206, 206, 206);
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.finish-recipe {
  background: #6ce34f;
  border: none;
  height: 50px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  width: 99%;
}
