.credits-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 91vh;
  min-width: 91vw;
  text-align: center;
}

.credits-item {
  font-size: 1.5rem;
  margin: 11px;
}

.credits-footer {
  font-size: 0.8rem;
}
