.foodPagee {
  background: linear-gradient(180deg, var(--y-o) 0%, rgba(255, 206, 33, 0.54) 77.6%);
  min-height: calc(100vh - 19vh);
  padding-bottom: 65px;
}

.food__category__buttonn {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 100px;
}

.food__category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food__card__donee {
  align-items: center;
  background-color: #f1ecea;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(63, 62, 62);
  color: black;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin: 10px 5px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  width: 160px;
}

.food__card:hover {
  transform: scale(1.02);
}

.food__card_textt {
  background-color: #f1ecea;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  min-height: 20%;
  position: absolute;
  width: 100%;
}

.food__cardd p {
  font-family: rancho , sans-serif;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.food__card__donee span {
  background-color: #f1ecea;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  color: black;
  font-family: rancho , sans-serif;
  min-height: 20%;
  position: relative;
  width: 100%;
}

.food__card__imgg {
  width: 100%;
}

.food__cardd img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.food__tag__button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  width: 50px;
}
