.food__category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food__card__done {
  align-items: center;
  background-color: #f1ecea;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(63, 62, 62);
  color: black;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin: 10px 5px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
  width: 160px;
}

.food__card:hover {
  transform: scale(1.02);
}

.food__card_text {
  background-color: #f1ecea;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  min-height: 20%;
  position: absolute;
  width: 100%;
}

.food__card p {
  font-family: rancho , sans-serif;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.food__card span {
  background-color: #f1ecea;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  color: black;
  font-family: rancho , sans-serif;
  min-height: 20%;
  position: relative;
  width: 100%;
}

.food__card__img {
  height: 90%;
  max-width: 100%;
}

.food__card img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.food__tag__button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  width: 50px;
}
