.done-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 15px 0;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  width: 330px;
}

.done-card-title {
  display: inline-block;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.done-copyText {
  width: 95px;
}

.done-img {
  width: 50%;
}

.done-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done-share-btn {
  background-color: inherit;
  border: none;
  margin-left: 7px;
  outline: none;
}
