.done-align {
  margin: auto;
  width: 21em;
}

.done-card {
  background-color: rgb(23, 162, 184);
  border-radius: 15px;
  display: flex;
  margin: 15px 0;
  max-width: 100%;
  text-align: center;
}

.done-img-container {
  width: 176px;
}

.done-img {
  border-radius: 15px 0 0 15px;
  width: 100px;
}

.done-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: center;
}

.done-category {
  font-size: 12px;
  margin-bottom: 0.5rem;
  opacity: 0.7;
  width: 100px;
}

.done-card-title {
  color: black;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 158px;
}

.done-date {
  margin-bottom: 0.4rem;
}

.done-tag {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  margin-bottom: 0.1rem;
  padding: 0 7px;
}

.done-share-btn {
  background-color: inherit;
  border: none;
  margin-top: 0.2rem;
  outline: none;
}

.done-share-btn:focus {
  border: none;
  outline: none;
}

.done-copyText {
  margin: 3px;
}
