.drinkAndFood-exploreButtons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
}

.drinkAndFood-exploreButtons {
  color: black;
  border-radius: 15px;
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}
