.details-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.food-details-main-div {
  background-color: black;
  padding-bottom: 43px;
}

.section-title {
  color: #17a2b8;
}

.details-tag {
  margin-bottom: 1rem;
}

.details-align {
  margin: auto;
  margin-top: 0;
  padding-top: 7px;
  width: 95%;
}

.detailsTitle-container {
  background-color: #17a2b8;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.details-title {
  color: black;
  width: 180px;
}

.details-instructions {
  color: white;
  padding: 15px;
}

.details-video {
  width: 100%;
}

.details-startRecipeBtn {
  bottom: 0;
  color: black;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1px;
  margin-left: 1.5%;
  margin-top: 0;
  padding: 9px;
  position: fixed;
  width: 97%;
}

.return-icon-detail {
  background: rgba(23, 162, 184, 0.4);
  border: none;
  border-radius: 100%;
  margin: 5px 0 0 5px;
  padding: 4px;
  position: absolute;
}

.return-icon-detail:focus {
  outline: none;
}

.details-card {
  position: relative;
}
