body {
  background: rgb(45, 45, 45);
}

.recipesBtn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0;
}


.recipes-categoryBtn {
  background-color: rgb(37, 154, 175);
  border: none;
  border-radius: 10px;
  color: rgb(45, 45, 45);
  height: 65px;
  margin: 3px;
  padding: 2px 0;
  text-align: center;
  width: 118px;
}

.recipes-categoryBtn:focus {
  outline: none;
}

.recipes-categoryBtn:hover {
  background: rgb(45, 45, 45);
  border: solid 1px lightslategray;
  color: white;
}

.recipes-categoryBtnAlternative {
  background-color: rgb(37, 154, 175);
  border: none;
  border-radius: 10px;
  height: 65px;
  margin: 3px;
  padding: 2px 0;
  width: 118px;
}

.recipes-categoryBtnAlternative:focus {
  outline: none;
}

.recipes-categoryBtnAlternative:hover {
  background: rgb(45, 45, 45);
  border: solid 1px lightslategray;
  color: white;
}

.recipesCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 58px;
}

.card {
  border-radius: 10%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  height: 238px;
  margin: 5px;
  max-width: 100%;
  text-align: center;
  width: 169px;
}

.cardImg {
  border-radius: 10% 10% 0 0;
}

.recipesCard-title {
  color: black;
  display: inline-block;
  max-height: 2.3em;
  overflow: hidden;
  word-wrap: break-word;
}
