.explore-section-area {
  background: #eea371;
  height: 100%;
  padding-bottom: 10px;
}

.areas-field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  text-align: center;
}

.area-ingredient {
  padding: 15px;
}

.area-image {
  border-radius: 5px;
  margin-top: 5px;
}

.select {
  background: #eea371;
  border: 1px solid rgba(0, 0, 0, 0.282);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

