/* https://codepen.io/derekmorash/pen/XddZJY */
.btn-explore {
  align-self: center;
  background: linear-gradient(45deg, #ff4763, #ff4763, #ff3f29);
  border: none;
  border-radius: 25px;
  color: #f7f2f7;
  cursor: pointer;
  display: flex;
  font-family: Montserrat , sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.tela-explore {
  background-color: #f7f2f7;
  height: 100vh;
}

.foodScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transform: translateY(-70px);
}

.div-select {
  display: flex;
  justify-content: center;
}

.select-area {
  background: linear-gradient(45deg, #ff4763, #ff4763, #ff3f29);
  border: none;
  border-radius: 25px;
  margin-top: 10px;
}

