.explore-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
  min-width: 84vw;
}

.explore-videoAndBtn {
  height: 258px;
  position: relative;
}

.video {
  position: relative;
  width: 100%;
}

.explore-food-container {
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate3d(-50%, -50%, 0);
}

.explore-drink-container {
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate3d(-50%, -50%, 0);
}

.explore-btn {
  border: none;
  color: black;
  font-size: 19px;
  margin-bottom: 25px;
  opacity: 0.75;
  padding: 5px;
  text-align: center;
  width: 165px;
}
