/* https://codepen.io/derekmorash/pen/XddZJY */
.btn-explore {
  appearance: none;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 40px 40px #0000 inset, 0 0 0 0 #0fa36b;
  color: #0fa36b;
  transition: all 150ms ease-in-out;
}
