.ingredient-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 58px;
}

.card-body {
  padding: 10px;
}

.background-card {
  background: white;
  border-radius: 15px 15px 0 0;
}

.ingredientCard-title {
  color: black;
  display: inline-block;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
