.menu {
  margin-top: 10px;
}

.top-main {
  background-color: #eea371;
}

.generic-card {
  align-items: flex-start;
  background-clip: border-box;
  background-color: #eea371;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-top: 10px;
  min-width: 0;
  position: relative;
  width: 350px;
  word-wrap: break-word;
}

.card-name {
  color: black;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap') ;
