.titulos {
  font-family: Poppins , sans-serif;
  font-weight: 600;
}

.textos {
  font-family: Poppins , sans-serif;
  font-weight: 200;
}

.font-media {
  font-family: Poppins , sans-serif;
  font-weight: 300;
}
