* {
  box-sizing: border-box;
}

.tela-food {
  background-color: #f7ecf7;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tela-drink {
  background-color: #f7ecf7;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  width: 100vw;
}

.btn-categories {
  background-color: #f47766;
  border: none;
  border-radius: 5px;
  margin: 1px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
