.login {
  align-items: center;
  background-image: url('../images/login-picture.jpg');
  background-size:cover;
  background-blend-mode: multiply;
  background-color: #575757;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100vh;
  min-width: 100vw;
}

.login-input {
  width: 100%;
  font-size: 20px;
}

.login-btn {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  margin-top: 15px;
  width: 70%;
}

.logo {
  width: 80%;
  margin-bottom: 20px;
}

.login-inputAndBtn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  width: 70%;
}