* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 56px;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-recomendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  height: 238px;
  margin: 5px;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  width: 169px;
}

.cardTitle {
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box; */
  display: inline-block;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-btn {
  background-color: lightgray;
  margin: 3px;
  width: 114px;
}

.category-btn-dbl {
  background-color: lightgray;
  margin: 3px;
  width: 114px;
}

.alignDetailsItens {
  margin: auto;
  width: 95%;
}

.detailImg {
  width: 100%;
}

.detailsTitle-container {
  display: flex;
  justify-content: space-between;
}

.shareAndLike {
  display: flex;
  padding-top: 12px;
}

.share {
  background-color: inherit;
  border: inherit;
}

.share:hover {
  outline-style: none;
}

.favorite {
  background-color: inherit;
  border: inherit;
  margin-left: 7px;
}

.favorite:hover {
  outline-style: none;
}

.ingredients {
  background-color: lightgray;
  padding: 20px;
}

.instructions {
  background-color: lightgray;
  padding: 15px;
}

.detailVideo {
  width: 100%;
}

.carousel {
  z-index: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
  margin-top: 160px;
  padding: 15px;
}

.startRecipeBtn {
  background-color: lightgray;
  bottom: 0;
  display: block;
  font-size: 1.2rem;
  padding: 9px;
  position: fixed;
  width: 100%;
}

.footer-container {
  background-color: lightgray;
  bottom: 0;
  display: block;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.inputs {
  height: 20px;
  margin-right: 6px;
  width: 20px;
}
