* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 56px;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-recomendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  height: 238px;
  margin: 5px;
  max-width: 100%;
  text-align: center;
  width: 169px;
}

.cardTitle {
  display: inline-block;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-btn {
  background-color: lightgray;
  margin: 3px;
  width: 114px;
}

.category-btn-dbl {
  background-color: lightgray;
  margin: 3px;
  width: 114px;
}

.alignDetailsItens {
  margin: auto;
  width: 95%;
}

.detailImg {
  width: 100%;
}

.detailsTitle-container {
  display: flex;
  justify-content: space-between;
}

.shareAndLike {
  display: flex;
  padding-top: 12px;
}

.share {
  background-color: inherit;
  border: none;
  margin-left: 7px;
  outline: none;
}

.share:hover, .share:focus {
  border: none;
  outline: none;
}

.favorite {
  background-color: inherit;
  border: none;
  margin-left: 7px;
  outline: none;
}

.favorite:hover, .favorite:focus {
  border: none;
  outline: none;
}

.ingredients {
  background-color: lightgray;
  padding: 20px;
}

.instructions {
  background-color: lightgray;
  padding: 15px;
}

.detailVideo {
  width: 100%;
}

.carousel {
  z-index: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
  margin-top: 160px;
  padding: 15px;
}

.startRecipeBtn {
  background-color: lightgray;
  bottom: 0;
  display: block;
  font-size: 1.2rem;
  padding: 9px;
  position: fixed;
  width: 100%;
}

.footer-container {
  background-color: lightgray;
  bottom: 0;
  display: block;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.homeAndReturnFooter {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.inputs {
  height: 20px;
  margin-right: 6px;
  width: 20px;
}

.favorite-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-favorite {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 15px 0;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  width: 330px;
}

.favorite-img {
  width: 50%;
}

.favorite-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noFavorite {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.noFavoriteWithHeader {
  margin-top: 230px;
}

.sectionsTitle {
  margin: auto;
  text-align: center;
}

.exploreButtons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
}

.exploreButtons {
  background-color: lightgray;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}

.exitButton {
  background-color: rgb(224, 20, 20);
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}

.profileTitle {
  color: black;
  margin-bottom: 70px;
  max-width: 95%;
  text-align: center;
  word-break: break-all;
}

.noDone {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 76vh;
  min-width: 76vw;
}

.returnIcon {
  border: none;
  height: 26px;
  outline: none;
  width: 26px;
}

.returnBtn {
  background-color: inherit;
  border: none;
  margin-left: 4px;
  outline: none;
}

.returnBtn:focus {
  border: none;
  outline: none;
}

.homeIcon {
  height: 45px;
  width: 45px;
}

.copyText {
  width: 95px;
}

.recipeTitle {
  width: 180px;
}

.credits {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 91vh;
  min-width: 91vw;
  text-align: center;
}

.credits-item {
  margin-bottom: 10px;
}
