* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 165px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-btn {
  margin: 3px;
  width: 114px;
}

.category-btn-dbl {
  margin: 3px;
  width: 114px;
}
