.navbar-header header {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  text-align: center;
  width: 85%;
}

.button-search {
  background: none;
  border: none;
}

.navbar-no-search header {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  text-align: center;
  width: 85%;
}
