.container-header {
  background-color: rgb(149, 149, 247);
  height: 10vh;
  width: 100vw;
}

.button-search-icon {
  background-color: transparent;
  border: none;
}

.search-icon {
  width: 8vw;
}

.title-header {
  font-size: 40px;
}
