.header-bar {
  background-color: rgb(223, 219, 219);
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
}

.search-container {
  align-items: center;
  border-bottom: 1px rgb(161, 155, 155) solid;
  box-shadow: 3px 3px 2px rgba(150, 144, 144, 0.932);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1%;
  padding-bottom: 2%;
}

.search-bar {
  margin-top: 1%;
  width: 99%;
}

.profile-btn {
  height: 100%;
}

.search-options {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.radio {
  margin-right: 3px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 98%;
}
