.alert-hidden {
  align-items: center;
  background: rgb(199, 202, 199);
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  opacity: 0;
  transition: all 250ms linear 2s;
  width: 110px;
}

.alert-show {
  align-items: center;
  background: rgb(199, 202, 199);
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  text-align: center;
  transition: all 250ms linear;
  width: 110px;
}

header {
  background: #ce2029;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.thumb-3 {
  background-size: contain;
  max-height: 60vh;
  width: auto;
}

.thumb-2 {
  background-size: contain;
  max-height: 70vh;
  width: auto;
}

.thumb {
  background-size: contain;
  height: 80vh;
  width: 100%;
}

.title-and-buttons {
  box-sizing: border-box;
  display: flex;
  max-height: 15vh;
}

.title-and-category {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50vw;
}

.title {
  box-sizing: border-box;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  padding: 0;
}

.subtitle {
  color: rgb(97, 93, 93);
  font-size: 20px;
  font-weight: 400;
  padding: 0;
}

.like-and-share {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}

header button {
  background: transparent;
  border: none;
  height: 40px;
  margin: 10px;
}

header button:focus {
  outline: 0;
}

.popup {
  position: absolute;
  right: 10px;
  top: 10px;
}
