.homeAndReturn-footer-container1 {
  background-color: black;
  bottom: 0;
  display: block;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.homeAndReturn-footer1 {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.home-icon1 {
  filter: invert(100%);
  height: 45px;
  width: 45px;
}

.return-btn1 {
  background-color: inherit;
  border: none;
  margin-left: 4px;
  outline: none;
}

.return-btn1:focus {
  border: none;
  outline: none;
}

.return-icon1 {
  border: none;
  filter: invert(100%);
  height: 30px;
  outline: none;
  width: 30px;
}
