.homeAndReturn-footer-container {
  background-color: lightgray;
  bottom: 0;
  display: block;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.homeAndReturn-footer {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.home-icon {
  height: 45px;
  width: 45px;
}

.return-btn {
  background-color: inherit;
  border: none;
  margin-left: 4px;
  outline: none;
}

.return-btn:focus {
  border: none;
  outline: none;
}

.return-icon {
  border: none;
  height: 26px;
  outline: none;
  width: 26px;
}
