.links-page {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  text-align: center;
}

.email-user {
  text-align: center;
}

.links-page button {
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem;
  /* padding: 1rem; */
  width: 12rem;
  /* height: 3rem; */
}
