.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  min-width: 80vw;
}

.profile-title {
  color: white;
  margin-bottom: 70px;
  max-width: 95%;
  text-align: center;
  word-break: break-all;
}

.profile-btn {
  border-radius: 15px;
  color: black;
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}

.profile-exitBtn {
  border-radius: 15px;
  color: black;
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 250px;
}

.user-title {
  color: white;
}
