.profilePage {
  background: linear-gradient(180deg, var(--y-o) 0%, rgba(255, 206, 33, 0.54) 77.6%);
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  top: 0%;
}

.button__receitas__feitas {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 18px;
  padding: 8px, 45px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 8px 45px;
  position: absolute;
  width: 150px;
  height: 50px;
  left: calc(50% - 150px / 2 - 0.5px);
  top: calc(50% - 50px / 2 - 186px);
  border-radius: 5px;
}


.button__receitas__favoritas {
  font-size: 18px;
  border: none;
  width: 150px;
  height: 50px;
  padding: 8px, 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 45px;
  position: absolute;
  width: 150px;
  height: 50px;
  left: calc(50% - 150px / 2 - 0.5px);
  top: calc(50% - 50px / 2 - 70px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.button__receitas__sair {
  font-size: 18px;
  border: none;
  width: 150px;
  height: 50px;
  padding: 8px, 45px;
  position: absolute;
  width: 150px;
  height: 50px;
  left: calc(50% - 150px / 2 - 0.5px);
  top: calc(50% - 50px / 2 + 46px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
