iframe {
  margin-bottom: 20px;
  width: 360px;
}

.video {
  margin-bottom: 20px;
}

.details-image {
  height: 150px;
  object-fit: cover;
  width: 320px;
}

.carousel-items {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ingredients ul {
  font-weight: 100;
  list-style: none;
  padding: 10px;
  text-align: left;
  width: 360px;
}

.instructions h5 {
  text-align: center;
}

.instructions {
  font-weight: 100;
  padding: 15px;
  text-align: justify;
  width: 320px;
}

.title {
  align-items: center;
  background-color: #2a9d8f;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 320px;
}

.title img {
  display: flex;
  filter: invert(100%);
  height: 25px;
  width: 25px;
}

.title h6 {
  align-self: flex-start;
  color: white;
}

.title-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 230px;
}

.title button {
  background: none;
  border: none;
  height: 30px;
  width: 35px;
}

.start {
  background-color: #2a9d8f;
  border: 2px solid #264653;
  border-radius: 25px;
  bottom: 0;
  color: white;
  height: 30px;
  left: 70px;
  position: fixed;
  width: 180px;
}

.start a {
  color: white;
  font-weight: 600;
}

.tachado {
  text-decoration: line-through;
}

.ingredients-list {
  list-style: none;
}
