.video-container {
  margin: 2rem;
}

.recomendations {
  margin: 1rem auto 4rem;
  width: 80%;
}

.carousel {
  background-color: rgba(218, 238, 235, 0.322);
  border: 1px solid rgb(138, 167, 163);
  border-radius: 10px;
  padding: 0.5rem;
  z-index: 0;
}

.btn-start-container {
  margin-top: 1rem;
}

.btn-start {
  border-radius: 10px;
  bottom: 0;
  margin-left: 7rem;
  padding: 0.4rem 0.2rem;
  position: fixed;
  width: 10rem;
}

.cliploader {
  width: 200rem;
}
