.finishi-recipe-btn {
  background: none;
  border-radius: 10px;
  margin-left: 7rem;
  padding: 0.4rem 0.2rem;
  width: 10rem;
}

.instructions-in-progress {
  border: 1px solid rgb(171, 190, 187);
  border-radius: 10px;
  margin: 2rem auto 1.5rem;
  padding: 1rem;
  width: 21rem;
}

.checked {
  text-decoration: line-through;
}

.check-input {
  margin-right: 0.2rem;
}
