.recomendations-card-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

img {
  border-radius: 10px 10px 0 0;
}

.recomendation-title {
  color: black;

}

.black-bg {
  background-color: black;
}

/* .card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  height: 238px;
  margin: 5px;
  max-width: 100%;
  text-align: center;
  width: 169px;
} */

.carousel {
  z-index: 0;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
  margin-top: 160px;
  padding: 15px;
} */
