.recommended {
  background: green;
  display: flex;
  flex-direction: column;
}

.cards-recommended {
  display: flex;
  justify-content: center;
}

.card-rec {
  display: block;
  height: 250px;
  margin: 5px;
  max-width: 200px;
}

.card-hidden {
  display: none;
  height: 250px;
  margin: 5px;
  max-width: 200px;
}

.card-rec img {
  height: 180px;
  width: 180px;
}
