.recomendations-card-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

img {
  border-radius: 10px 10px 0 0;
}

.recomendation-title {
  color: black;
}

.recomendation-link {
  list-style: none;
}

.black-bg {
  background-color: black;
}

.carousel {
  z-index: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
  margin-top: 160px;
  padding: 15px;
}
