html {
  background: #eea371;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
  width: 0;  /* Remove scrollbar space */
}

