.search {
  display: flex;
  flex-direction: column;
}

.searchInput {
  margin-top: 18px;
  max-width: 100%;
  width: 330px;
}

.searchBtn {
  background-color: lightgray;
  margin-bottom: 18px;
  max-width: 100%;
  width: 330px;
}
