.first-letter {
  margin-left: 3px;
}

.ingredients {
  margin-left: 3px;
}

.name {
  margin-left: 3px;
}

.search-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.search-input {
  background: black;
  border: none;
  border-bottom: solid 1px white;
  color: white;
  font-size: 18px;
  margin-top: 18px;
  max-width: 100%;
  padding: 5px;
  width: 330px;
}

.search-input:focus {
  outline: none;
}

.search-radios-container {
  display: flex;
  justify-content: space-between;
}

.search-btn {
  background-color: rgb(37, 154, 175);
  border-radius: 10px;
  margin-bottom: 18px;
  max-width: 100%;
  width: 330px;
}
