@font-face {
  font-family: 'Batata';
  src: local('Batata'), url(../../fonts/Poppins-ExtraLight.ttf);
}

body {
  box-sizing: border-box;
  display: flex;
  font-family: Batata , sans-serif;
  margin: 0;
  padding: 0;
}

.form-login {
  align-items: center;
  background-color: #fb9400;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-login label {
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
}

.form-login input {
  border: none;
  border-radius: 5px;
  box-shadow: 9px 9px 9px -5px rgba(47, 47, 47, 0.6);
  font-size: 1em;
  outline: none;
  padding: 12px;
  width: 250px;
}

.form-login button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  font-size: 1.1em;
  margin-top: 30px;
  opacity: 0.7;
  padding: 10px;
  transition: 0.4s ease-in-out;
  width: 80%;
}

.form-login button:enabled {
  background-color: white;
  box-shadow: 9px 9px 9px -5px rgba(61, 61, 61, 0.6);
  color: #fb9400;
  opacity: 1;
}

.app-logo {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 70%;
}
