#profile-main p {
  text-align: center;
}

#profile-main section {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

#profile-main section button {
  outline: none;
  margin: 7px 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid #F59600;
}

#profile-main section button a {
  font-size: 17px;
  color: #F59600;
}

#profileImg {
  z-index: 0;
  box-shadow: 1px 1px 5px 1px #715429;
  overflow: hidden;
  margin: 10px;
  border-radius: 50%;
  min-height: 30vh ;
  min-width: 30vh;
}

#profileImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 30px auto;
  max-width: fit-content;
  max-height: fit-content;
}

#profile-email {
  margin: 0 auto;
  max-width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
