.page-bebidas {
  margin-top: 730px;
}

.box-btns {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-btns button {
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  width: auto;
}

.container-recipes {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.container-recipes a {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px white;
  height: 180px;
  margin: 6px;
  width: 142px;
}

.card-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item img {
  border-radius: 5px;
  padding-top: 5px;
}

.card-item h5 {
  color: black;
  padding-top: 10px;
}

