.category-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}

.category-button {
  border: none;
  font-family: inherit;
  height: 40px;
  margin-bottom: 5px;
  width: 100px;
}
