footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: auto;
  position: fixed;
  width: 100%;
}

.footer-container {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
