header {
  background-color: #a5926a;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  width: 100vw;
}

header > section:nth-of-type(1) {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 20px;
}

header h2 {
  font-size: 20px;
 }

header > section:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

header label {
  font-family: 'Noto Serif JP', serif;
  margin-right: 10px;
}

.search-radio-container {
  font-size: 14px;
  margin: 10px 0;
}

.search-radio {
  margin-right: 5px;
}
