.details-image-container {
  height: 360px;
  position: relative;
}

.details-image {
  height: 360px;
  width: 360px;
}

.details-image-container > div {
  bottom: 0;
  display: flex;
  padding: 10px;
  position: absolute;
  right: 0;
}

.youtube-video {
  border: none;
  height: 240px;
  margin: 40px 0;
  width: 100vw;
}
