.details-container {
  margin-bottom: 80px;
}

.details-image-container {
  position: relative;
}

.details-image {
  height: 100vw;
  width: 100vw;
}

.details-image-container > div {
  bottom: 0;
  display: flex;
  padding: 20px;
  position: absolute;
  right: 0;
}

.details-text-container {
  margin-bottom: 30px;
  padding: 10px;
}

.details-text-container > h3 {
  margin: 20px 0 10px;
}

.details-text-container > ul {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
    font-family: 'Noto Serif JP', serif;
  padding: 20px 10px;
}

.details-text-container li {
  align-items: center;
  display: flex;
  padding: 5px;
}

.details-text-container > p {
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Noto Serif JP', serif;
  font-size: 14px;
  padding: 40px 10px;
  text-align: justify;
}

.ingredient-checkbox {
  margin-right: 5px;
}

.line-through {
  text-decoration: line-through;
}

.youtube-video {
  border: none;
  height: 240px;
  margin-bottom: 40px;
  width: 100vw;
}
