header {
  display: flex;
  flex-direction: column;
}

a {
  height: fit-content;
}

p {
  margin-bottom: 0;
}

label {
  height: fit-content;
  margin-bottom: 0;
}

.header {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.search-icon-radio {
  display: none;
}

.search-icon {
  cursor: pointer;
}
