:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Main-Text: #2e3e5c;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.drink-main {
  display: flex;
  flex-direction: column;
  font-family: Inter , sans-serif;
  justify-content: center;
  position: relative;
  top: 80px;
}
