:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Main-Text: #2e3e5c;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.btn-list-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-filter {
  background-color: var(--crl-Primary);
  border-radius: 25px;
  color: var(--crl-White);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 2.2rem;
  margin: 0.3rem;
  outline: none;
  width: 7rem;
}
