.buttons-container {
  background-color: #f3ecec;
  padding-top: 10px;
  text-align: center;
  width: 350px;
}

.buttons {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  height: 50px;
  line-height: 1em;
  margin: 1px;
  width: 115px;
}

.buttons-category {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  border-radius: 8px;
  height: 45px;
  line-height: 1em;
  margin: 7px;
  width: 150px;
}

.like-and-share {
  align-content: center;
  background-color: white;
  border: rgb(228, 204, 204);
  height: 40px;
  width: 40px;
}

.like-and-share:hover {
  background-color: white;
  border: rgb(228, 204, 204);
}

