.buttons-container {
  margin: 2px;
  width: 100%;
}

.buttons {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  height: 50px;
  line-height: 1em;
  margin: 1px;
  width: 115px;
}

.buttonss {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  height: 45px;
  line-height: 1em;
  margin: 1px;
  width: 115px;
}

.like-and-share {
  align-content: center;
  background-color: white;
  border: rgb(228, 204, 204);
  height: 40px;
  width: 40px;
}

.like-and-share:hover {
  background-color: white;
  border: rgb(228, 204, 204);
}

