* {
  margin: 0;
  padding: 0;
}

.cards-container {
  background-color: #f3ecec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  width: 350px;
}


.card {
  align-items: center;
  background-color: #e4cccc;
  border-radius: 20px;
  justify-content: center;
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  width: 80%;
}

.card img {
  border-radius: 8px;
  height: 180px;
  margin: 10px 0 20px;
  width: 240px;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: gray;
}
