.recipe-details {
  background-color: darkgray;
  height: 155px;
  width: 360px;
}

.recipe-details img {
  height: 100%;
  width: 360px;
}

.details-title {
  font-size: 1.9rem;
}

.details-content {
  padding: 0.56rem;
}

.details-category {
  color: darkgray;
  font-size: 1.3rem;
}
