* {
  margin: 0;
  padding: 0;
}

.foods-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.foods-page header {
  background-color: #f3ecec;
  display: flex;
  height: 180px;
}
