.footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #c4c4c4;
  display: flex;
  height: 3.6rem;
  justify-content: space-around;
}

button {
  border: 0px;
  background-color: #c4c4c4;
}