.footer {
  bottom: 0;
  padding: 10px;
  position: fixed;
}

.center-footer-icons {
  display: inherit;
  justify-content: center;
}

.headerSection {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headerSection button {
  background: transparent;
  border: none;
}
