:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Main-Text: #2e3e5c;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.header {
  align-items: center;
  background-color: var(--crl-White);
  box-shadow: 8px 3px 12px 0 rgba(11, 44, 102, 0.12);
  display: flex;
  font-family: Inter , sans-serif;
  height: 3.6rem;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;

}

.page-title-div h1 {
  color: var(--crl-Secondary);
  font-family: Damion , cursive;
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
}

.btn-search-bar {
  background-color: transparent;
  border: none;
  outline: none;

}

.page-title-div {
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
}

.profile-div {
  align-items: center;
  justify-content: center;
  left: 30px;
  position: fixed;
  text-align: center;
  top: 10px;
}

.profile-div img {
  width: 2rem;
}

.search-bar {
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 30px;
  text-align: center;
  top: 10px;
}

.search-bar img {
  width: 2rem;
}
