.login {
  align-items: center;
  background-attachment: fixed;
  background-image: url('../images/recipes.jpg');
  background-size: 100%;
  border: 3px solid green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin: 5% auto;
  max-width: 90%;
}

.link {
  font-size: 10px;
}

.btnLogin {
  background-color: rgb(228, 204, 204);
  border: #6127ae 1px solid;
  border-radius: 4px;
  float: left;
  font-size: 0.8em;
  font-weight: 800;
  height: 50px;
  margin-top: 25px;
  width: 200px;
}

.title1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 5px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 5px;
}
