.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.page header {
  background-color: #f3ecec;
  display: flex;
  height: 100%;
}

.buttons-recipes-container {
  display: flex;
  flex-direction: column;
}

.perfil-container {
  background-color: #f3ecec;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 350px;
}

.email-user {
  font-weight: 800;
  margin-top: 30px;
}

