.checked {
  text-decoration: line-through solid black;
}

.recipe-container {
  background-color: #f3ecec;
  width: 350px;
}

.button {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  bottom: 0;
  height: 50px;
  line-height: 1em;
  margin: 1px;
  position: fixed;
  width: 100%;
}

.recipe-img {
  border-radius: 10px;
  height: 200px;
  margin-top: 15px;
  width: 300px;
}

.recipe-details-titles {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 80%;
}

.recipe-details-titles h2 {
  line-height: 1em;
  margin: 0;
  width: 60%;
}

.recipe-details-links {
  display: flex;
  width: 40px;
}

.recipe-details-subtitles {
  color: grey;
  line-height: 1em;
  margin-left: 20px;
}

.recipe-details-ingredients {
  list-style: circle;
  margin: 20px;
}

.recipe-details-ingredients ul {
  list-style-type: none;
}

.recipe-details-instructions {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 15px;
  width: 90%;
}

.recipe-details-instructions h4 {
  align-self: center;
}

.recipe-details-instructions p {
  text-align: justify;
}

.recipe-details-video {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 90%;
}

.recipe-details-video h4 {
  align-self: center;
}

.recipe-details-recommended {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-left: 20px;
  width: 90%;
}

.recipe-details-recommended h4 {
  align-self: center;
  margin-top: 20px;
}
