.checked {
  text-decoration: line-through solid black;
}

.button {
  background-color: rgb(228, 204, 204);
  border: rgb(228, 204, 204);
  bottom: 0;
  height: 50px;
  line-height: 1em;
  margin: 1px;
  position: fixed;
  width: 100%;
}

.recipe-details img {
  height: 200px;
  width: 100%;
}

.recipe-details-titles {
  display: flex;
  width: 90%;
}

.recipe-details-titles h1 {
  line-height: 1em;
  margin-left: 20px;
}

.recipe-details-subtitles {
  color: grey;
  line-height: 0.5em;
  margin-left: 20px;
}

.recipe-details-ingredients {
  list-style: circle;
  margin: 20px;
}
