.card-list {
  display: flex;
  overflow-x: scroll;
}

.recomendation-card {
  margin: 4px;
  width: 90%;
}

.recomendation-card img {
  border-radius: 20px;
  width: 44vw;
}

.recomendation-title {
  color: aliceblue;
  font-weight: 800;
  margin-left: 20px;
  margin-top: -30px;
}
