* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
