:root {

  /* COLOR STYLES */

  --crl-Primary: #1fcc79;

  --crl-Secondary: #ff6464;

  --crl-Main-Text: #2e3e5c;

  --crl-Secondary-Text: #9fa5c0;

  --crl-Outline: #d0dbea;

  --crl-form: #f4f5f7;

  --crl-White: white;

  /* FONT STYLES */

  --font-size-h1: 1.37rem;

  --font-size-h2: 1.06rem;

  --font-size-h3: 0.93rem;

  --font-size-p1: 1.06rem;

  --font-size-p2: 0.93rem;

  --font-size-s: 0.75rem;

}

.profile-screen-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.profile-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.email {
  border-radius: 32px;
  color: var(--crl-Main-Text);
  font-family: Inter , sans-serif;
  font-size: var(--font-size-p1);
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 27px;
  width: 327px;
}

.buttons-perfil {
  background: var(--crl-Primary);
  border-radius: 32px;
  color: white;
  font-size: var(--font-size-p2);
  font-weight: 700;
  height: 56px;
  letter-spacing: 0.007em;
  line-height: 18px;
  margin: 0.5rem;
  padding: 19px 32px;
  position: relative;
  top: 15px;
  width: 327px;
}

.profile-img {
  top: 270px;
  width: 170px;
}
