.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.carousel {
  display: none;
}

.start-recipe {
  bottom: 0;
  position: fixed;
}

.finish-recipe {
  bottom: 0;
  position: fixed;
}

.hideCss {
  color: red;
}

.showCss {
  color: blue;
  text-decoration: none solid black;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.footer-generic {
  background-color: white;
  bottom: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.recipe-list img {
  width: 206px;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}

.button-no-border {
  background: none;
  border: none;
  padding: 0;
}

.decent-footer {
  display: flex;
  justify-content: space-evenly;
}

.header-image-text {
  text-align: center;
}
