.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.header {
  background: #1e8449;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.footer {
  background: #1e8449;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.card-container {
  background: #f7f9f9;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.card-container img {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  width: 140px;
}

form {
  display: flex;
  justify-content: space-between;
}

.search input {
  display: flex;
  justify-content: center;
  width: 40%;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
}

.search-icon {
  background: #1e8449;
  border-radius: 50%;
}

.category {
  background: #2ecc71;
  border-radius: 5px;
}

.explore {
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.explore-btn {
  background: #1e8449;
  border-radius: 5px;
  z-index: 1;
}

.explore-container {
  z-index: 1;
}

.explore img {
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  z-index: 0;
}

.perfil {
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttons-drink {
  background: #1e8449;
}

.perfil-container {
  border: 5px solid green;
  justify-content: center;
  width: 200px;
}
