@import url('//db.onlinewebfonts.com/c/2a895939d05d9433ce269cd6870ab1dc?family=Lemon+Tuesday') ;

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap') ;

@media screen and ( min-width : 350px ) and ( max-width : 500px ) {

  .ingredient ul {
    top: 450px;
  }
  .recipe-photo {
    width: 50vw;
  }
  .recipe h2 {
    background: #6a8b4183;
  }
  .ingredient img {
    height: auto;
    opacity: 0.3;
    position: relative;
  }
}

* {
  box-sizing: border-box;
  font-family: Lemon Tuesday , Arial , sans-serif;
  padding: 2px;
  text-align: center;
}

body {
  overflow-x: hidden;
}

.hero-container {
  background-color: #6a8b41;
}

.hero-container > h1 {
  color: white;
  text-shadow: 1px 4px 12px rgba(0, 0, 0, 0.83);
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  transition: 0.3s;
  width: 350px;
}

.cards img {
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.footer {
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.grade {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}
#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

/*
Ajuda Alessandra
*/

.card-carousel {
  display: flex;
  overflow-x: scroll;
}

.recomendation-card {
  width: 50vw;
}

.recomendation-card img {
  width: 50vw;
}

.checked {
  text-decoration: line-through solid black;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}


.recipe h2 {
  color: #7b3c15;
  text-shadow: 1px 4px 12px rgba(0, 0, 0, 0.83);
}

.recipe h3 {
  color: #6a8b41;
}

.recipe p {
  color: #6a8b41;
  font-family: Cookie , cursive;
  font-size: x-large;
  text-shadow: -2px -2px 6px rgba(99, 97, 97, 0.54);
}

.ingredient img {
  height: auto;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}

.ingredient h1 {
  color: #7b3c15;
  font-size: 30px;
}

.ingredient ul {
  text-align: center;
  width: 100%;
}

.ingredient li {
  background: #46d69f2c;
  font-family: Cookie , cursive;
  font-size: x-large;
}
