.meals {
  align-items: center;
  background: #616f9c1e;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  /* height: 100vh; */
  justify-content: center;
  width: 100%;
}

