/*  laranja: #f47521
    laranha escuro: #8f4413
*/

@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Satisfy&display=swap' ) ;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-family: Satisfy , cursive;
}

button, input:focus, select:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.searchbar {
  align-items: center;
  background: #f47521;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.searchbar > label {
  text-align: center;
  width: 100%;
}

.searchbar-input {
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  width: 80vw;
}

.start-recipe {
  background: #3b7c56;
  border: none;
  border-radius: 30px 30px 0 0;
  bottom: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
  position: fixed;
  width: 50vw;
}

.login {
  background: url('./images/background.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.login div {
  align-items: center;
  background: #ffffffb0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.login img {
  margin: 0 auto;
  margin-top: 50px;
  width: 70vw;
}

.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.login form > label {
  font-weight: 700;
}

.login-title {
  color: #f47521;
  font-weight: 700;
}

.input-login {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 0 10px;
  width: 70vw;
}

.btn-login {
  background-color: #f47521;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  height: 40px;
  width: 50vw;
}

.btn-login:disabled {
  background: #8f4413;
  color: white;
  font-weight: 400;
}

.header > div {
  align-items: center;
  background-color: #f47521;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header div > h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 3px #8f4413;
}

.btn-search {
  background: none;
  border: none;
}

.card-list {
  background: url('./images/background.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.meal { background: #f47521; }

.recipe-card {
  border: none;
  border-radius: 0 30px;
  box-shadow: 0 0 5px #777;
  margin: 0 auto;
  width: 120px;
}

.recipe-card:hover {
  transform: scale(1.08);
  transition: 500ms;
}

.recipe-card div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.recipe-card-thumb {
  border: none;
  border-radius: 0 30px;
  height: 100%;
  width: 100%;
}

.recipe-card-title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  padding: 5px 0;
  text-shadow: 2px 2px 3px #8f4413;
}

.show { display: block; }

.hidden { display: none; }
