* {
  border: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #0d0d0d;
  scroll-behavior: smooth;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-wrap: row wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sectionForm {
  background-color: #0d0d0d;
  margin-top: 30%;
  text-align: center;
}

.sectionForm img {
  background-color: white;
  box-shadow: 0 0 45px rgb(235, 22, 22);
  margin-bottom: 15%;
  width: 80%;
}

.buttonLogin:hover {
  background-color: red;
}

.button {
  display: none;
}

.riscado {
  text-decoration: solid;
}

.naoRiscado {
  text-decoration: none;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.footer {
  bottom: 0;
  max-width: 360px;
  position: fixed;
  width: 100%;
}

.iniciarReceita {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.iniciarReceitaInvisible {
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.card {
  align-items: center;
  border-top-style: none;
  color: black;
  display: flex;
  flex-wrap: column wrap;
  padding-bottom: 5%;
  text-decoration: none;
  text-decoration-style: none;
}

.ulCard {
  margin-top: 15%;
}

.h2 {
  justify-content: space-around;
}

.instrucoesP {
  margin-left: 1%;
  text-align: justify;
  width: 90%;
}

.favorite-share {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 15px;

}

.favortieButton {
  padding-left: 20px;
}