
@font-face {
  font-family: 'PoetsenOne';
  src: url('./fonts/PoetsenOne.ttf');
}
/*========== VARIABLES CSS ====================================================================================================*/
:root {
  /*========== COLORS =========================================================================================================*/
  --first-color: #9D4BFF;
  --second-color: #4D49BF;
  --first-color-dark: #314279;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;
  --title-color: #F2A20C;

  /*========== FONT / TYPOGRAPHY ===========================================================================================*/
  --body-font: 'PoetsenOne', sans-serif;
  --normal-font-size: .938rem;
  --h1-font-size: 1.375rem;
  --h3-font-size: 1.125rem;
  --small-font-size: .75rem;
}

/*===== BASE =====*/
*,::before,::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  background: inherit;
  border-radius: inherit;
}

/* CONFIGURAÇÕES DE TELA DE 0px até 576px */
/* LOGIN PAGE ===========================================================================================================*/
/* https://www.origamid.com/projetos/css-grid-layout-guia-completo/ */
.login {
  display: grid;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.loginImg {
  justify-self: center;
}

.loginImg img {
  width: 310px;
  margin-top: 1.5rem;
}

.loginForms {
  position: relative;
  height: 368px;
}

.loginRegister, .loginCreate {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.loginTitle {
  color: var(--first-color-dark);
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

/* https://www.treinaweb.com.br/blog/css-grid-um-guia-interativo-parte-1-containers */
.loginBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.loginIcon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.loginInput {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.loginInput::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.loginForgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);
}

.loginButton:disabled {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.loginButton:enabled {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFFF;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.loginButton:hover {
  background-color: var(--first-color-dark);
}

.loginAccount, .loginSignin, .loginSignup {
  font-weight: 600;
  font-size: var(--small-font-size);
}

.loginAccount {
  color: var(--first-color-dark);
}

.loginSignin, .loginSignup {
  color: var(--first-color);
  cursor: pointer;
}

.loginSocial {
  margin-top: 2rem;
}

.loginSocial-icon {
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
  cursor: pointer;
}

.loginSocial-icon:hover {
  color: var(--first-color);
}

/* Mostrar a tela de registro / login */
.block {
  display: block;
}

/* Esconder a tela de registro / login */
.none {
  display: none;
}

/*  =========================================================================================================================*/

/* RECIPES PAGE ===========================================================================================================*/
.mainContent {
display: grid;
justify-items: center;
}

.containerBtns {
  background-color: var(--first-color-dark);
  margin-top: 1rem;
  padding: 10px 0;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.categoriesBtns div {
  border-right: 1px solid rgba(235, 232, 232, 0.2);
}

.categoriesBtns div button {
  display: grid;
  justify-items: center;
  color: var(--title-color);
  font-size: var(--h1-font-size);
  width: 13rem;
  height: max-content;
  padding: 3px;
  cursor: pointer;
  transition: .3s;
}

.categoriesBtns div button:hover {
  color: #FFFF;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, .3);
  padding: 7px;
}

.categoriesBtns div:last-child {
  border-right: none;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe {
  width: 200px;
  height: 230px;
  background-color: var(--first-color-dark);
  border-radius: 1rem;
  overflow-y: hidden;
  cursor: pointer;
  margin: 20px 5px 0 5px;
}

.recipe:hover {
  box-shadow: 1px 2px 8px 2px var(--second-color);
}

.recipe img {
  position: absolute;
  margin-left: -75px;
  margin-top: -60px;
  width: 150px;
  border-radius: 40px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.recipeTitle {
  font-family: var(--body-font);
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: .5rem;
  transform: translateY(4.0rem);
  text-align: center;
}

.recipeImg,
.recipeData,
.recipeTitle {
  transition: .5s;
}

.recipe:hover .recipeTitle {
  color: #FFFF;
}

.recipe:hover .recipeImg {
  transform: translateY(-4.5rem);
}

.recipe:hover .recipeData {
  transform: translateY(4.8rem);
}

/*  ====================================================================================================================================*/

/* RECIPE DETAILS PAGE  ====================================================================================================================*/
.recipeDetails {
  display: grid;
  justify-content: center;
}

.box {
  margin: 20px 20px 15px 20px;
  height: max-content;
  width: 100vw;
  box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 70rem;
}

.topDetails {
  display: grid;
  height: max-content;
  overflow: hidden;
  padding-bottom: 25px;
}

.titleDetails {
  margin: 25px;
  justify-self: center;
  z-index: 1;
  width: 90vw;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.ingredients {
  font-size: var(--h3-font-size);
}

.titleDetails .titleCategory, .ingredients h3 {
  font-size: var(--h1-font-size);
  color: var(--first-color-dark);
}

.imageButtons {
  justify-self: center;
  margin-top: -3rem;
}

.imageButtons .recipeImage {
  width: 86vw;
  border-radius: 0 0 40px 40px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  margin-bottom: 1.5rem;
}

.imageButtons .likeShareBtns {
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(35,0,77,.2);
}

.imageButtons .likeShareBtns:hover {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .3);
}

.instrDetails {
  padding: 25px;
  font-size: var(--h3-font-size);
}

.instrDetails h3 {
  color: var(--first-color-dark);
  font-size: var(--h1-font-size);
  text-align: center;
}

.videoDetails {
  display: grid;
  justify-content: center;
  padding: 25px 25px 40px 25px;
}

.videoDetails h3 {
  color: var(--first-color-dark);
  font-size: var(--h1-font-size);
  text-align: center;
}

.videoDetails iframe {
  width: 400px;
  height: 250px;
}

.bottomDetails .recommendedRecipes {
  display: grid;
  justify-content: center;
}

.bottomDetails .recommendedRecipes h3 {
  color: var(--first-color-dark);
  font-size: var(--h1-font-size);
  text-align: center;
}

.bottomDetails a button {
  width: 80%;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 5px;
  background-color: var(--first-color);
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.bottomDetails a button:hover {
  background-color: var(--first-color-dark);
  color: #FFFF;
}

.btnFinishNone {
  display: none;
  cursor: pointer;
}

.btnFinish {
  position: fixed;
  bottom: 0px;
  cursor: pointer;
}


/*  ====================================================================================================================================*/
/* RECOMMENDED RECIPES COMPONENENT ===========================================================================================================*/

.recommendedRecipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
}

.recommendedImg {
  width: 150px;
  margin: 15px 0;
  border-radius: 10px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.recommendedTitle {
  margin-top: -2px;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.left-arrow {
  position: absolute;
  top: 16%;
  left: 13.5rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.right-arrow {
  position: absolute;
  top: 16%;
  right: 13.5rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.imgTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
  display: none;
  /* opacity: 0; */
  transition: all 1.5s ease;
}

.active {
  display: block;
  /* opacity: 1; */
  height: 380px;
  border-radius: 10px;
  transform: scale(1.08);
  transition: all 1.5s ease;
}


/*  ====================================================================================================================================*/

/* RECIPES IN PROGRESS PAGE ===========================================================================================================*/
.completedRecipe {
  text-decoration: line-through solid black;
  color:pink;
}

.recipeInProgress {
  display: grid;
  justify-content: center;
}

.boxInProg {
  margin: 20px 20px 15px 20px;
  height: max-content;
  width: 100vw;
  box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 70rem;
}

.topInProgress {
  display: grid;
  height: max-content;
  overflow: hidden;
  padding-bottom: 25px;
}

.titleInProgress {
  margin: 25px;
  justify-self: center;
  z-index: 1;
  width: 90vw;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.titleInProgress .ingredients {
  display: grid;
  justify-content: center;
  font-size: var(--h3-font-size);
  text-align: justify;
  margin-left: 0rem;
}

.titleInProgress .titleCategory, .ingredients h3 {
  font-size: var(--h1-font-size);
  color: var(--first-color-dark);
}

.topInProgress .imageButtons {
  justify-self: center;
  margin-top: -3rem;
}

.topInProgress .imageButtons .recipeImage {
  width: 86vw;
  border-radius: 0 0 40px 40px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  margin-bottom: 1.5rem;
}

.topInProgress .imageButtons .likeShareBtns {
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(35,0,77,.2);
}

.topInProgress .imageButtons .likeShareBtns:hover {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .3);
}

.bottomInProgress {
  padding: 25px;
  font-size: var(--h3-font-size);
}

.bottomInProgress h3 {
  color: var(--first-color-dark);
  font-size: var(--h1-font-size);
  text-align: center;
}

.bottomInProgress a button {
  width: 80%;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 5px;
  background-color: var(--first-color);
  color: var(--title-color);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.bottomInProgress a button:hover {
  background-color: var(--first-color-dark);
  color: #FFFF;
}

/*  ====================================================================================================================================*/

/* SHAREBUTTONS COMPONENT ===========================================================================================================*/
.showMsg {
  position: absolute;
  margin-left: -10px;
  margin-top: 15px;
}

.hideMsg {
  display: none;
}

/*  ====================================================================================================================================*/

/* DONE RECIPE PAGE ===========================================================================================================*/
.doneCard {
  border: solid black 1px;
  /* height: 143px;
  width: 333px; */
}

.doneImg {
  width: 165px;
  height: 143px;
}

/* .doneArea, .doneCategory {
  display: inline-block;
  /* flex-direction: column;
} */

/* PROFILE PAGE ===========================================================================================================*/
.container {
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  margin-top: 3px;
  margin-bottom: 65px;
  width: 100%;
  max-width: 1024px;
  height: 700px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5.5rem;
  background-image: linear-gradient(to top, #00F2FE, #4FACFE );
}

.mainContentProfile {
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContentProfile .imageProfile {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: url('images/profile.jpg') no-repeat center / cover;
  border: 4px solid #00D8FE ;
  margin-bottom: 2px;
  overflow: hidden;
}

.bgCamera {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(79, 172, 254, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.5rem;
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

.mainContentProfile .imageProfile:hover .bgCamera {
  opacity: 1;
}

.mainContentProfile .userName, .email {
  font-size: 1.2rem;
  color: var(--title-color);
  line-height: 1;
  margin: 5px 0;
}

.bigImgProfile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

.bigImgProfile img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.3);
  max-width: 100%;
  max-height: 100%;
  transition: .5s;
}

.showImage {
  opacity: 1;
  z-index: 99;
}

.showImage img {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
  background: transparent;
}

.close:hover {
  opacity: .5;
}

.close:before, .close:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  background-color: #fff;
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.buttonsInProfile {
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsRecipes {
  margin-top: 10px;
  padding: 11px 0;
  width: 200px;
  background: linear-gradient(to right, #4FACFE 0%, #00F2FE 140%);
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.8s;
}

.buttonsRecipes:hover {
  background: var(--first-color);
  box-shadow: 0px 0px 20px 1px rgb(46, 146, 193);
}

.buttonExit {
  position: relative;
  margin-top: 10px;
  padding: 11px 0;
  width: 200px;
  background: linear-gradient(to right, #4FACFE 0%, #00F2FE 140%);
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  z-index: 0;
}

.buttonExit:before {
  content: '';
  position: absolute;
  border-radius: 20px;
  background: #f4796b;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease;
}

.buttonExit:hover:before {
  width: 101%;
}

.buttonExit:hover {
  color: white;
  box-shadow: 0px 0px 20px 1px rgb(46, 146, 193);
  transition: all 0.5s ease;
}

/*  ====================================================================================================================================*/

/* HEADER COMPONENT ===========================================================================================================*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: 0 5px;
  border-radius: 10px;
  background-color: var(--first-color-dark);
  color: var(--title-color);
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.3);
}

/*  ====================================================================================================================================*/

/* SEARCHBAR COMPONENT ===========================================================================================================*/
.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 400px;
  height: 80px;
  background-color: var(--first-color-lighten);
  border-radius: 40px;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.3);
}


/*  ====================================================================================================================================*/

/* FOOTER COMPONENT ===========================================================================================================*/

/*  ====================================================================================================================================*/


/* ===== MEDIA QUERIES ================================================================================*/
@media screen and (min-width: 576px){
  /* LOGIN PAGE */
  .login {
    justify-items: center;
  }

  .loginForms {
    width: 348px;
    justify-self: center;
  }

  /* RECIPES PAGE */
  .categoriesBtns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
  }

  /* RECIPE DETAIL */
  /* RECOMMENDED RECIPES COMPONENT */
  .recommendedImg {
    width: 200px;
    margin: 15px;
    border-radius: 20px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  }

  .left-arrow {
    top: 24%;
    left: 9.5rem;
  }
  
  .right-arrow {
    top: 24%;
    right: 9.5rem;
  }

  .bottomDetails a button {
    margin-left: 4rem;
  }

  /* RECIPE IN PROGRESS */
  .bottomInProgress a button {
    margin-left: 4rem;
  }
}

/* =========================================================================== */
@media screen and (min-width: 768px) {
  /* LOGIN PAGE */
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
  
  /* RECIPES PAGE */
  .categoriesBtns {
    display: grid;
    grid-template-columns: repeat(3, max-content);
  }

  /* RECIPE DETAIL */
  .videoDetails iframe {
    width: 560px;
    height: 315px;
  }

  .bottomDetails a button {
    width: 200px;
    padding: 10px;
    margin-left: 3rem;
  }

  /* RECIPE IN PROGRESS */
  .bottomInProgress a button {
    width: 200px;
    padding: 10px;
    margin-left: 3rem;
  }
}

/* ============================================================================== */
@media screen and (min-width: 1024px){
  /* LOGIN PAGE */
  .login {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .loginImg {
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .loginImg img {
    width: 390px;
    margin-top: 0;
  }

  .loginRegister, .loginCreate{
    left: -11rem;
  }

  .loginRegister {
    bottom: -2rem;
  }

  .loginCreate {
    bottom: -5.5rem;
  }

  /* RECIPES PAGE */
  .containerBtns {
    background-color: var(--first-color-dark);
    padding: 10px 0;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
  }
  
  .categoriesBtns {
    display: flex;
  }
  
  .categoriesBtns div {
    border-right: 1px solid rgba(235, 232, 232, 0.2);
  }
  
  .categoriesBtns div button {
    display: grid;
    justify-items: center;
    color: var(--title-color);
    font-size: var(--h1-font-size);
    width: 13rem;
    height: max-content;
    padding: 3px;
    cursor: pointer;
    transition: .3s;
  }
  
  .categoriesBtns div button:hover {
    color: #FFFF;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, .3);
    padding: 7px;
  }
  
  .categoriesBtns div:last-child {
    border-right: none;
  }

  .recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* RECIPE DETAILS */
  .topDetails {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  .titleDetails {
    margin-right: -9rem;
    min-height: 450px;
    width: 300px;
  }

  .titleDetails .titleCategory {
    font-size: var(--h3-font-size);
  }

  .ingredients {
    font-size: var(--normal-font-size);
  }

  .imageButtons {
    display: grid;
    border-radius: 40px;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 3rem;
  }

  .imageButtons .recipeImage {
    justify-self: center;
    width: 430px;
    margin-left: 6rem;
    margin-top: 2rem;
    border-radius: 40px;
    filter: drop-shadow(2px 2px 15px rgba(8,9,13,.4));
  }

  .imageButtons .likeShareBtns {
    margin: -1rem 2.0rem 0.5rem 9.0rem;
  }

  .instrDetails {
    font-size: var(--normal-font-size);
  }

  .videoDetails iframe {
    width: 600px;
    height: 415px;
  }

  /* RECOMMENDED RECIPES COMPONENENT */

  .recommendedRecipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
  }

  .recommendedImg {
    width: 300px;
    margin: 30px;
    border-radius: 40px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  }

  .recommendedTitle {
    margin-top: -10px;
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    color: var(--title-color);
  }

  .left-arrow {
    position: absolute;
    top: 40%;
    left: 3px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }

  .right-arrow {
    position: absolute;
    top: 40%;
    right: 3px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }

  .imgTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide {
    display: none;
    /* opacity: 0; */
    transition: all 1.5s ease;
  }

  .active {
    display: block;
    /* opacity: 1; */
    height: 380px;
    border-radius: 10px;
    transform: scale(1.08);
    transition: all 1.5s ease;
  }

  /* RECIPE IN PROGRESS */
  .topInProgress {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  .titleInProgress {
    margin-right: -9rem;
    min-height: 450px;
    width: 300px;
  }

  .titleInProgress .titleCategory {
    font-size: var(--h3-font-size);
  }

  .titleInProgress .ingredients {
    margin-left: 0rem;
  }

  .topInProgress .imageButtons {
    display: grid;
    border-radius: 40px;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 3rem;
  }

  .topInProgress .imageButtons .recipeImage {
    justify-self: center;
    width: 430px;
    margin-left: 6rem;
    margin-top: 2rem;
    border-radius: 40px;
    filter: drop-shadow(2px 2px 15px rgba(8,9,13,.4));
  }

  .topInProgress .imageButtons .likeShareBtns {
    margin: -1rem 2.0rem 0.5rem 9.0rem;
  }

  .bottomInProgress {
    font-size: var(--normal-font-size);
  }

}